In [1]:
'''1. What is a database? Differentiate between SQL and NoSQL databases.

ans:

A database is a structured collection of data that is stored and 
organized in a way that enables efficient access, retrieval, and modification. 
Databases are used to store and manage data for a wide range of applications, 
including e-commerce, banking, healthcare, social media, and more.

SQL databases are relational databases.
SQL databases use the Structured Query Language (SQL) to interact with the data. 
SQL databases are best suited for applications that require complex queries and transactional consistency, 
such as financial systems, online banking etc.

NoSQL databases, on the other hand, are non-relational databases that store data in a variety of ways,
including key-value pairs, documents, graphs, and column families.
NoSQL databases are often used for large-scale distributed data storage, 
and they are designed to be highly scalable, flexible, and fast.

'''

'1 What is a database? Differentiate between SQL and NoSQL databases.\n\nans:\n\nA database is a structured collection of data that is stored and \norganized in a way that enables efficient access, retrieval, and modification. \nDatabases are used to store and manage data for a wide range of applications, \nincluding e-commerce, banking, healthcare, social media, and more.\n\n\n'

In [ ]:
'''2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example. 

ans:

DDL stands for Data Definition Language, which is a set of SQL commands used to create, modify, and delete the database objects 
such as tables, views, indexes, etc. DDL commands do not affect the data within the tables, but they define the structure 
and properties of the database objects.

DDL commands and examples:

1. CREATE TABLE employees(id INT PRIMARY KEY, name VARCHAR(20), salary FLOAT); # for creating a new table
2. ALTER TABLE employees ADD COLUMN age INT; # for altering existing table
3. TRUNCATE TABLE employees; # removes all the data from the table , keeps the structure.
4. DROP TABLE employees; # removes data as well as the structure.

'''

In [2]:
'''3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

ans:

DML is an abbreviation of Data Manipulation Language.
it is used to insert, modify, update and delete the existing records from a table.

DML commands and examples:
1. INSERT INTO employees(101,'xyz',20000);
2. UPDATE employees SET salary=50000 where id=101;
3. DELETE FROM employees where id=102;

'''

"3 What is DML? Explain INSERT, UPDATE, and DELETE with an example.\n\nans:\n\nDML is an abbreviation of Data Manipulation Language.\nit is used to insert, modify, update and delete the existing records from a table.\n\nDML commands and examples:\n1. INSERT INTO employees(101,'xyz',20000);\n2. UPDATE employees SET salary=50000 where id=101;\n3. DELETE FROM employees where id=102;\n\n"

In [4]:
'''4. What is DQL? Explain SELECT with an example.

ans:
DQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) 
used for querying and retrieving data from relational databases.

example:
SELECT first_name, last_name, email
FROM users
WHERE age >= 18

# will retrieve the first_name, last_name, and email of the records where age>=18'''

'4. What is DQL? Explain SELECT with an example.\n\nans:\nDQL stands for Data Query Language, and it is a subset of SQL (Structured Query Language) \nused for querying and retrieving data from relational databases.\n\nexample:\nSELECT first_name, last_name, email\nFROM users\nWHERE age >= 18\n\n# will retrieve the first_name, last_name, and email of the records where age>=18'

In [ ]:
'''5. Explain Primary Key and Foreign Key.

A primary key is a unique identifier for a record in a database table. 
It is a column or a combination of columns that uniquely identifies each record in the table.
A primary key can be used to enforce data integrity, as it ensures that each record in the table 
is unique and can be easily accessed and modified using the primary key.

A foreign key, on the other hand, is a column or a combination of columns in a table that refers 
to the primary key of another table. It establishes a relationship between two tables in a database
by linking records in one table to records in another table.

'''

In [5]:
'''6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

import mysql.connector

mydb=mysql.connector.connect(
    host='localhost'
    user='abc'
    password='password'
)

cursor=mydb.cursor()
cursor.execute("CREATE TABLE student(id INT, name VARCHAR(10), class VARCHAR(10))")
mydb.close()

note: The cursor() method is used to create an instance of the cursor class, 
      execute() method is a part of the cursor class which can be used to execute SQL queries.
      
'''

'6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.\n\nimport mysql.connector\n\nmydb=mysql.connector.connect(\n    host=\'localhost\'\n    user=\'abc\'\n    password=\'password\'\n)\n\ncursor=mydb.cursor()\ncursor.execute("CREATE TABLE student(id INT, name VARCHAR(10), class VARCHAR(10))")\nmydb.close()\n\nnote: The cursor() method is used to create an instance of the cursor class, \n      execute() method is a part of the cursor class which can be used to execute SQL queries.\n      \n'

In [ ]:
'''7. order of execution : FROM, WHERE, GROUP BY , HAVING , ORDER BY.'''