In [1]:
'''1. What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use
MongoDB over SQL databases?

ans:

Mongodb is a document oriented NoSQL database. it is a non relational database that is it doesnt store data in the 
form of rows and columns , rather it stores data in the form of JSON files. 
Non-relational databases are often used in scenarios where a high degree of scalability and flexibility is required, 
as they can easily accommodate changes in data schema and handle large amounts of data.

Some specific scenarios where MongoDB may be preferred include:

Real-time analytics: MongoDB's ability to handle large amounts of unstructured data in real-time
makes it well-suited for real-time analytics applications, such as social media sentiment analysis
or log processing.

High-traffic web applications: MongoDB's horizontal scalability and ability to handle large amounts 
of data make it a good choice for web applications that need to handle high traffic and data volumes.

Mobile and Internet of Things (IoT) applications: MongoDB's ability to handle unstructured data and
synchronize data between devices makes it a good choice for mobile and IoT applications that require 
data to be stored and accessed from multiple locations.
'''

"1 What is MongoDB? Explain non-relational databases in short. In which scenarios it is preferred to use\nMongoDB over SQL databases?\n\nans:\n\nMongodb is a document oriented NoSQL database. it is a non relational database that is it doesnt store data in the \nform of rows and columns , rather it stores data in the form of JSON files. \nNon-relational databases are often used in scenarios where a high degree of scalability and flexibility is required, \nas they can easily accommodate changes in data schema and handle large amounts of data.\n\nSome specific scenarios where MongoDB may be preferred include:\n\nReal-time analytics: MongoDB's ability to handle large amounts of unstructured data in real-time\nmakes it well-suited for real-time analytics applications, such as social media sentiment analysis\nor log processing.\n\nHigh-traffic web applications: MongoDB's horizontal scalability and ability to handle large amounts \nof data make it a good choice for web applications that need to handle high traffic and data volumes.\n\nMobile and Internet of Things (IoT) applications: MongoDB's ability to handle unstructured data and\nsynchronize data between devices makes it a good choice for mobile and IoT applications that require \ndata to be stored and accessed from multiple locations.\n"

In [2]:
'''2. State and Explain the features of MongoDB.
some of the features of mongodb are:
1.
Flexible Data Model: MongoDB uses a flexible document model, 
which allows users to store data in a way that is more natural and 
intuitive than traditional relational databases. 

2.
Scalability: MongoDB is designed to scale horizontally, which means that 
it can easily distribute data across multiple servers to handle increasing
amounts of traffic and data. 

3.
Strong Security: MongoDB provides strong security features that 
include authentication, access control, and encryption.

'''

'2. State and Explain the features of MongoDB.\nsome of the features of mongodb are:\n1.\nFlexible Data Model: MongoDB uses a flexible document model, \nwhich allows users to store data in a way that is more natural and \nintuitive than traditional relational databases. \n\n2.\nScalability: MongoDB is designed to scale horizontally, which means that \nit can easily distribute data across multiple servers to handle increasing\namounts of traffic and data. \n\n3.\nStrong Security: MongoDB provides strong security features that \ninclude authentication, access control, and encryption.\n\n'

In [19]:
'''3. Write a code to connect MongoDB to Python. Also, create a database and a collection in MongoDB.
'''
#!pip install pymongo

import pymongo

client = pymongo.MongoClient("mongodb+srv://dufrenhack:F5SKSN6ZkFeljjap@cluster0.ohnmkkb.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [20]:
db=client['testdb1']
coll1=db['testcoll1']

In [21]:
'''4. Using the database and the collection created in question number 3, write a code to insert one record,
and insert many records. Use the find() and find_one() methods to print the inserted record. '''

data = {"name" : "sudh",
        "class" : "data science masters ",
        "timing " : "flexi"
}

data1=[{ "name": "Amy", "address": "Apple st 652" },
  { "name": "Hannah", "address": "Mountain 21" },
  { "name": "Michael", "address": "Valley 345" },
  { "name": "Sandy", "address": "Ocean blvd 2" },
  { "name": "Betty", "address": "Green Grass 1" },
  { "name": "Richard", "address": "Sky st 331" },
  { "name": "Susan", "address": "One way 98" },
  { "name": "Vicky", "address": "Yellow Garden 2" },
  { "name": "Ben", "address": "Park Lane 38" },
  { "name": "William", "address": "Central st 954" },
  { "name": "Chuck", "address": "Main Road 989" },
  { "name": "Viola", "address": "Sideway 1633" }
]

In [28]:
coll1.insert_one(data)
coll1.insert_many(data1)

In [29]:
for i in coll1.find():
    print(i)

{'_id': ObjectId('63f4793931db0261a9c44a37'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'_id': ObjectId('63f4793031db0261a9c44a2b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f4793031db0261a9c44a2c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f4793031db0261a9c44a2d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f4793031db0261a9c44a2e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f4793031db0261a9c44a2f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f4793031db0261a9c44a30'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f4793031db0261a9c44a31'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f4793031db0261a9c44a32'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f4793031db0261a9c44a33'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f4793031db0261a9c44a34'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f4793031db0261a9c44a35'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f4793031db0261a9c44a36'), 'name': 'Viola', 'address': 'Sideway 1633'}

In [30]:
coll1.find_one()

{'_id': ObjectId('63f4793931db0261a9c44a37'),
 'name': 'sudh',
 'class': 'data science masters ',
 'timing ': 'flexi'}

In [32]:
'''5. Explain how you can use the find() method to query the MongoDB database. Write a simple code to
demonstrate this.'''
# we can query a database by using find() method and entering the selectino criteria as a parameter.
for i in coll1.find({'name':'sudh'}):
    print(i)
    
for i in coll1.find({},{'name':1,'address':1,'_id':0}):
    print(i)

{'_id': ObjectId('63f4793931db0261a9c44a37'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}
{'name': 'sudh'}
{'name': 'Amy', 'address': 'Apple st 652'}
{'name': 'Hannah', 'address': 'Mountain 21'}
{'name': 'Michael', 'address': 'Valley 345'}
{'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'name': 'Betty', 'address': 'Green Grass 1'}
{'name': 'Richard', 'address': 'Sky st 331'}
{'name': 'Susan', 'address': 'One way 98'}
{'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'name': 'Ben', 'address': 'Park Lane 38'}
{'name': 'William', 'address': 'Central st 954'}
{'name': 'Chuck', 'address': 'Main Road 989'}
{'name': 'Viola', 'address': 'Sideway 1633'}

In [34]:
'''6. Explain the sort() method. Give an example to demonstrate sorting in MongoDB.'''

# the sort method sorts the documents based on two parameters, variable name and direction(ascending or desceding)

for i in coll1.find().sort('name',1):
    print(i)

# sorting by name in ascending order

{'_id': ObjectId('63f4793031db0261a9c44a2b'), 'name': 'Amy', 'address': 'Apple st 652'}
{'_id': ObjectId('63f4793031db0261a9c44a33'), 'name': 'Ben', 'address': 'Park Lane 38'}
{'_id': ObjectId('63f4793031db0261a9c44a2f'), 'name': 'Betty', 'address': 'Green Grass 1'}
{'_id': ObjectId('63f4793031db0261a9c44a35'), 'name': 'Chuck', 'address': 'Main Road 989'}
{'_id': ObjectId('63f4793031db0261a9c44a2c'), 'name': 'Hannah', 'address': 'Mountain 21'}
{'_id': ObjectId('63f4793031db0261a9c44a2d'), 'name': 'Michael', 'address': 'Valley 345'}
{'_id': ObjectId('63f4793031db0261a9c44a30'), 'name': 'Richard', 'address': 'Sky st 331'}
{'_id': ObjectId('63f4793031db0261a9c44a2e'), 'name': 'Sandy', 'address': 'Ocean blvd 2'}
{'_id': ObjectId('63f4793031db0261a9c44a31'), 'name': 'Susan', 'address': 'One way 98'}
{'_id': ObjectId('63f4793031db0261a9c44a32'), 'name': 'Vicky', 'address': 'Yellow Garden 2'}
{'_id': ObjectId('63f4793031db0261a9c44a36'), 'name': 'Viola', 'address': 'Sideway 1633'}
{'_id': ObjectId('63f4793031db0261a9c44a34'), 'name': 'William', 'address': 'Central st 954'}
{'_id': ObjectId('63f4793931db0261a9c44a37'), 'name': 'sudh', 'class': 'data science masters ', 'timing ': 'flexi'}

In [36]:
'''7. Explain why delete_one(), delete_many(), and drop() is used.
ans:
delete_one() is used to delete a single record from  the collection using a query.
delete_many() is used to delete all the records from the collection using a query.
drop() is used to drop() an entire table/collection.
'''

query={'name':{'$regex':'^[S|s]'}}
coll1.delete_one(query)

In [38]:
coll1.delete_many(query)

In [40]:
coll1.drop()